// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
.aldrich-font {
  font-family: 'Aldrich', sans-serif;
}
.roboto-font {
  font-family: 'Roboto', sans-serif;
}
.orbitron-font {
  font-family: 'Orbitron', sans-serif;
}
.mitr-font {
  font-family: 'Mitr', sans-serif;
}
.text-text-color {
  color: $text-color;
}

body {
  font-weight: 600;
  font-size: 1em;
  font-family: 'Mitr', sans-serif;
}
